{% extends 'index.html' %}

{% block content %}
    <h1>Знаки гороскопа</h1>
    <img src="{{ url_for('static', filename='img/oven.jpg') }}" alt="Img">
    <p>Именование «овен» относилось же к богу Эа — «эридуйскому овну», который спас человечество от Всемирного потопа</p>
    <img src="{{ url_for('static', filename='img/telec.jpg') }}" alt="Img">
    <p>У Тельцов независимый и благородный характер</p>
    <img src="{{ url_for('static', filename='img/Gemini2.jpg') }}" alt="Img">
    <p>Aвантюрный, яркий, интеллектуальный знак, представители которого являются сложными двойственными натурами</p>
    <img src="{{ url_for('static', filename='img/rak.jpg') }}" alt="Img">
    <p>Когда кто-то в хорошем настроении, сыплет шутками и анекдотами, заразительно смеется, собирая вокруг себя толпу, - это почти всегда Рак</p>
    <img src="{{ url_for('static', filename='img/lion.jpg') }}" alt="Img">
    <p>Грамотный специалист и умеет зарабатывать деньги</p>
    <img src="{{ url_for('static', filename='img/deva.jpg') }}" alt="Img">
    <p>Тонкое восприятие окружающего пространства</p>
    <img src="{{ url_for('static', filename='img/vesi.jpg') }}" alt="Img">
    <p>"Весы" обладают приятной наружностью с правильными чертами лица и яркими губами, а также мелодичным голосом, который они повышают редко</p>
    <img src="{{ url_for('static', filename='img/Scorpio2.jpg') }}" alt="Img">
    <p>Их называют людьми настроения, ведь Скорпионы мгновенно переключаются с апатии на веселье или ярость</p>
    <img src="{{ url_for('static', filename='img/strelec.jpg') }}" alt="Img">
    <p>Стрельцы очень общительные и дружелюбные люди, отличающиеся прямотой в отношениях с другими</p>
    <img src="{{ url_for('static', filename='img/kozerog.jpg') }}" alt="Img">
    <p>Козероги кажутся доверчивыми, мягкими, часто застенчивые, но они очень честолюбивы и добиваются положения лидера</p>
    <img src="{{ url_for('static', filename='img/vodoley.jpg') }}" alt="Img">
    <p>Его можно отнести к душевной организации, то есть люди, родившиеся под ним легко теряют самоконтроль</p>
    <img src="{{ url_for('static', filename='img/fish.jpg') }}" alt="Img">
    <p>Самый чувствительный, таинственный и экстраординарный знак зодиака — это Рыбы</p>
{% endblock %}