{% extends 'index.html' %}

{% block content %}
    <h1>Ваш гороскоп</h1>
    <form action="goroscop" method="post">
        {{ form.csrf_token() }}
        {% for field in form if field.name != "csrf_token" and field.name != "submit" %}
            <p>{{ field.label() }}</p>
            <p>
                {{ field }}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </p>
        {% endfor %}
        {{ form.submit }}
    </form>

{% endblock %}